*{
     box-sizing: border-box;
     font-size: 1.4rem;
     margin: 0;
     padding: 0;
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-family: 'VT323', sans-serif;
     resize: none;
     outline: none;
     scroll-behavior: smooth;
}

.pruebas{
     background: linear-gradient(to bottom, rgb(255, 118, 76), rgb(175, 107, 253))
}

body{
     display: flex;
     background: #111;
     min-height: 100vh;
}

main{
     margin-left: 8rem;
     min-width: 500px;
     width: 100%;
     background: #111;
}

::-webkit-scrollbar{
     background: linear-gradient(to bottom, rgb(45, 27, 63),rgb(39, 23, 54));
     width: 12px;
 }

 ::-webkit-scrollbar-track{
     /* border-radius: 10px; */
     background-color: #6b6b6b49;
}

::-webkit-scrollbar-thumb{
     /* border-radius: 10px; */
     background-color: #690404;
}
::-webkit-scrollbar-thumb:hover{
     background-color: #4a006dd2;
}

.colors{
     transition: ease;
     animation: colors 4s infinite;
}

.hidden{
     opacity: 0;
}

.nodisplay{
     visibility: hidden;
}

.title{
     z-index: 99;
     left: 0;
     top: 0;
     width: 100%;
     position: fixed;
     text-align: right;
     padding-right: 1rem;
     font-size: 2rem;
     background-color: rgb(168, 42, 42);
     animation: 1.5s margin-slidein;
     box-shadow: 1px -5px 11px #111;
}

.slide-from-left{
     animation: slidein .5s;
}

/* -----------------LATERAL-BAND--------------------*/

.principal-band{
     display: flex;
     flex-direction: column;
     position: fixed;
     background: linear-gradient(to right,rgb(202, 137, 39),rgb(202, 137, 39));
     height: 100vh;
     width: 8rem;
     border-right: 2px solid rgba(34, 34, 34, 0.144);
     z-index: 100;
     padding: .3rem;
}

.principal-band nav{
     display: flex;
     flex-direction: column;
     text-align: right;
     margin: .2rem 0;
     color: #fff;
}

.principal-band nav a:hover{
     background-color: rgba(0, 199, 60, 0.452);
}

.principal-band nav a{
     margin-bottom: 1rem;
     transition: .2s ease;
     padding: .1rem .2rem;
}


#logo{
     font-size: 2.2rem;
     text-align: center;
     padding: .5rem;
     margin: 0 0 1rem 0;
}

#lateral-bottom{
     margin-top: auto;
     display: flex;
     justify-content: space-between;
}

#lateral-bottom p{
     width: max-content;
     padding: 0 .2rem;
}

#lateral-bottom > p:hover{
     text-shadow: 0 0 5px #fff;
     cursor: default;
     color: rgb(216, 247, 43);
}

#disclaimer-msg{
     font-size: .8rem;
     width: 7rem;
     padding:  .1rem .4rem;
     border-radius: .2rem;
}

#disclaimer-btn{
     border-right: 2px #fff solid;
}

/* -----------------HOME--------------------*/

.head-banner-gif{
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 5;
}

.home-screen{
     height: 190vh;
}

.tech-used figure img{
     max-height: 200px;
     background-color: #bbbbbbd2;
     border-radius: .5rem;
     transition: ease-in-out .5s;
}
.tech-used figure img:hover{
     animation: .06s shake 4;
}

.tech-used figure{
     max-height: 200px;
     transition: ease .3s;

}

.show{
     animation: margin-slidein .5s;
}

.tech-used {
     display: flex;
     justify-content: space-around;
     padding: 2rem 0;
     width: 100%;
     position: relative;
     top: 90vh;
     font-size: 2rem;
     z-index: 20;
     background-color: #0000009f;
}

.clock{
     position: fixed;
     background-color: rgb(77, 16, 16);
     top: 30vh;
     left: 70vw;
     z-index: 30;
     border: solid #222 3px;
     padding: 0 4px;
     width: max-content;
}

.clock p{
     display: inline;
     color: rgb(59, 224, 26);
     text-shadow: 0 0 10px rgb(130, 189, 20);
     font-family: 'VT323';
     font-size: 2.5vw;
}

.blink{
     opacity: 0;
}

.home-screen > p{
     position: relative;
     top: 88vh;
     z-index: 30;
     font-size: 3rem;
     animation: 2s slideup;
     background-color: #000000d2;
     text-align: center;
}

#text{
     width: 50vw;
     top: 147vh;
     position: absolute;
     z-index: 30;
     left: 32vw;
     margin: auto;
     transition: ease-in;
     padding: 1rem;
     background-color: rgba(59, 0, 52, 0.699);
     border-radius: .5rem;
     min-width: 520px;
     font-size: 1.1rem;
     max-height: 350px;
}

#hi{
     opacity: 1;
     position: absolute;
     top: 80vh;
     left: 70vw;
     font-family: 'VT323';
     width: max-content;
     margin: 0;
     background-color: rgb(168, 12, 12);
     font-size: 2.5vw;
}

/* -----------------SOBRE MI--------------------*/

#about-me{
     position: relative;
     top: 150vh;
     z-index: 30;
     width: 100%;
     padding-bottom: 1.7rem;
}

.about{
     position: relative;
     background-color: #601a66;
     text-align: center;
     font-family: 'VT323';
     font-size: 2.3rem;
     z-index: 30;
}

.personal-info{
     display: flex;
     position: relative;
     margin: 3rem;
     z-index: 30;
}

.personal-info > div{
     display: flex;
     margin:  0 2rem;
     flex-direction: column;
}

.personal-info img{
     border: 4px solid rgb(78, 0, 0);
     border-radius: 3px;
     max-height: 400px;
}

#basic-info > div{
     display: flex;
     justify-content: space-between;
     z-index: 20;
}

#resume,#basic-info > div{
     background-color: #350028d2;
     border-radius: 3px;
     padding: .2rem;
     margin-bottom: .5rem;
     border: 2px solid rgba(27, 0, 78, 0.568);
     position: relative;
}

#basic-info > div > p{
     padding: 0 .5rem;
}

#resume{
     background-color: #17002cd2;
     transition: ease .3;
     position: relative;
     z-index: 10;
}

#basic-info p, #resume p{
     font-family: 'VT323';
     font-size: 1.2rem;
}

#resume p{
     margin-bottom: .5rem;
}

.slidedown{
     animation: slidedown 1s;
}

#about-me-backg{
     width: 100%;
     position: absolute;
     top: 10rem;
     z-index: 5;
     opacity: .5;
}

/* -----------------SOCIAL--------------------*/

.social{
     background-color: rgb(248, 255, 237);
}

.social-banner-gif{
     display: block;
     position: relative;
     top: 0;
     width: 600px;
     height: 100vh;
     margin-right: 0;
     z-index: 0;
     min-width: 300px;
}

#icons, .social-links, .social, #email, #email form{
     display: flex;
     justify-content: space-evenly;
}

.social-links,#email form{
     flex-direction: column;
     width: 100%;
}

.social-links{
     margin-top: 6vh;
     justify-content: space-between;
}

.social-direct p{
     text-align: center;
     margin: 1rem auto;
     font-family: 'VT323';
     font-size: 1.5rem;
}

#icons,#email{
     position: relative;
     z-index: 30;
     background-color: rgb(250, 221, 160);
     animation: slideup 1s;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: .6rem;
     box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.social-links figure img{
     max-width: 4rem;
     max-height: 4rem;
     min-width: 60px;
     min-height: 60px;
}

.social-links figure{
     margin: auto;
}

.social-links figure img,#gmail img{
     padding: 1rem;
     background-color: rgb(255, 255, 255);
     z-index: 10;
     border: solid rgba(255, 113, 113, 0.726) 2px;
     border-radius: 1.5rem;
     transition: ease .4s;
}

#gmail{
     margin-top: auto;
     text-align: center;
     background-color: rgb(248, 255, 237);
     border-radius: 1.5rem;
     padding: 1rem;
}

#gmail p{
     font-family: 'VT323';
     font-size: 1.6rem;
     color: rgba(34, 34, 34, 0.856);
}

#email{
     justify-content: space-evenly;
}

#email form{
     position: relative;
     width:250px;
     margin: auto;
     padding: 1rem;
     /* margin-bottom: 2rem; */
     border-radius: 1rem;
     transition: ease .15s;
     border: 2px solid rgb(240, 86, 86);
     background: linear-gradient(to bottom, rgb(143, 162, 245), rgb(202, 114, 180));
     box-shadow: 1px 1px 5px #111;
}

.slidein-from-right{
     animation: slidein-reverse .7s;
}

form > *{
     border-radius: 1rem;
     font-size: 1rem;
     text-align: center;
     font-weight: 100;
     font-family: 'Century Gothic';
     letter-spacing: 1px;
     color: #292929;
     border: solid 1px rgba(71, 71, 71, 0.829);
     transition: ease .15s;
}

form *:focus{
     background-color: rgba(255, 255, 255, 0.795);
}

#submit-btn{
     width: fit-content;
     margin: auto;
     padding: .3rem .5rem;
     margin-top: .5rem;
     font-weight: 600;
}

.social figure img:hover, #social-name, #gmail{
     box-shadow: inset 1px 2px 2px #111;
}

#social-name{
     transition: ease .2s;
     color: rgba(17, 17, 17, 0.829);
     width: fit-content;
     border-radius: 1rem;
     border: solid 1px rgba(255, 255, 255, 0.562);
     padding: .2rem .5rem;
     background-color: rgba(255, 255, 255, 0.705);
}

#Linkedin img:hover{
     background-color: rgb(92, 149, 255);
}
#Facebook img:hover{
     background-color: rgb(23, 96, 231);
}
#Instagram img:hover{
     background-color: rgb(255, 205, 140);
}
#Github img:hover{
     background-color: rgb(236, 255, 151);
}
#gmail img:hover{
     background-color: rgb(255, 135, 135);
}

.loading-modal{
     display: flex;
     position: absolute;
     background-color: #29292981;
     border-radius: 1rem;
     border: none;
     width: 120px;
     min-height: 120px;
     left:calc(50% - 60px);
}

.loading-modal img{
     position: relative;
     margin: auto;
     width: 80px;
}

.loading-modal p{
     position: relative;
     margin: auto;
     font-size: 1.1rem;
     color: rgb(255, 255, 255);
}

/* -----------------ANIMACIONES--------------------*/

@keyframes margin-slidein{
     0%{
          margin-left: -10vw;
          opacity: 0;
     }
     20%{
          /* left: -100vw; */
          opacity: 0;
     }
     99%{
          margin-left: 0;
          opacity: 1;
     }
}

@keyframes slidein-reverse{
     0%{
          right: -5vw;
          opacity: 0;
     }
     20%{
          /* left: -100vw; */
          opacity: 0;
     }
     99%{
          right: 0;
          opacity: 1;
     }
}

@keyframes slidein{
     0%{
          left: -10vw;
          opacity: 0;
     }
     20%{
          /* left: -100vw; */
          opacity: 0;
     }
     99%{
          left: 0;
          opacity: 1;
     }
}

@keyframes slideup{
     0%{
          margin-top: 50vh;
          opacity: 0;

     }
     50%{
          opacity: 0;
     }
     99%{
          margin-top: 0;
          opacity: 1;
     }
}

@keyframes shake{
     from{
          transform: translate(-2px)
     }
     to{
          transform: translate(2px)
     }
}

@keyframes slidedown{
     0%{
          margin-top: -5rem;
          opacity: 0;
     }
     20%{
          opacity: 0;
     }
     99%{
          margin-top: 0;
          opacity: 1;
     }
}

@keyframes colors {
     0%{    
          border-color: rgb(2, 0, 90);
          box-shadow: none;
     }
     50%{
          border-color: rgb(0, 255, 21);
          box-shadow: 0 0 1rem rgb(0, 255, 21);
     }
     100%{
          border-color: rgb(2, 0, 90);
          box-shadow: none;
     }

}